:root{
    --primary:#000678;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-family:"poppins",sans-serif;
}
.title_container{
    background:linear-gradient(111.38deg,#72fbda 35.93%,rgba(251,251,251,0.416667) 152.79%,rgba(237,237,237,0) 236.26%);
    padding: 20px 0;
    height:80px;
}
.title_container h1{
    font-weight: 600;
    font-size: 32px;
    color:rgb(3, 3, 99);
    text-align: center;

}
.button_container{
    height:20vh;
    display:grid;
    place-items: center;

}
.button_container button{
    background-color: rgb(31, 31, 115);
    border:none;
    font-size: 24px;
    padding:10px 20px;
    color:white;
    letter-spacing: 1px;
    cursor: pointer;
}
.colors_container{
    height:calc(80vh - 80px);
    display:grid;
    grid-template-rows: 5fr 4fr 3fr 2fr 1fr;
}
.colorbox p{
    background-color: rgb(166, 156, 156);
    width:150px;
    padding:10px;
    text-align: end;
    margin-top: 10px;
    font-size: 24px;
    display: none;

}
.colorbox:hover p{
    display: inline-block;
}
#color1{
    background-color: rgb(137, 2, 2);
}
#color2{
    background-color: rgb(111, 3, 138);
}
#color3{
    background-color:rgb(4, 83, 4);
}
#color4{
    background-color: rgb(227, 227, 22);
}
#color5{
    background-color: black;
}
/*RESPONSIVE WEB*/
@media(max-width:768px){
    .title_container h1{
        font-size: 24px;

    }
}
@media(max-width:321px){
    .title_container h1{
        font-size: 16px;

    }
}